/* Add here all your css styles (customizations) */

.re-title-v1
{
	text-transform: none;
}

.header-v6 .navbar-nav > li > a
{
	padding: 20px 15px;
}

.content-sm
{
	padding-bottom: 0px;
}

.header .topbar ul.loginbar > li > a, .header .topbar ul.loginbar > li > a:hover
{
	font-size: 11px;
}

.header .topbar ul.loginbar li i.fa
{
	color: #3498db;
}

.bg-color-light {
    background-color: #ECEFF1 !important;
}

.breadcrumbs.breadcrumbs-dark, .breadcrumbs.breadcrumbs-light
{
	background: #263238;
}

.display-inline-block
{
	display: inline-block;
}

.blue-color
{
	color: #3498db !important;
}